<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class: "form-control", placeholder: "Enter name of title" %>
  </div>

  <div class="form-group">
    <%= form.text_area :content, class: "form-control", placeholder: "Enter content of post" %>
  </div>

  <div class="form-group">
    <%= form.text_field :user_id, class: "form-control", placeholder: "Enter ID of author" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn--wthite btn--animated" %>
  </div>
<% end %>
